# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
WPFTutorial/WPFTutorial/bin/Debug/WPFTutorial.exe.config
WPFTutorial/WPFTutorial/obj/Debug/App.g.cs
WPFTutorial/WPFTutorial/obj/Debug/MainWindow.baml
WPFTutorial/WPFTutorial/obj/Debug/MainWindow.g.cs
WPFTutorial/WPFTutorial/obj/Debug/WPFTutorial.csproj.FileListAbsolute.txt
WPFTutorial/WPFTutorial/obj/Debug/WPFTutorial.g.resources
WPFTutorial/WPFTutorial/obj/Debug/WPFTutorial.Properties.Resources.resources
WPFTutorial/WPFTutorial/obj/Debug/WPFTutorial_MarkupCompile.lref
WPFTutorial/.vs/WPFCalculator/v15/Server/sqlite3/storage.ide
